.anjuta/*
.anjuta_sym_db.db
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
dnd_charsheet.anjuta
install-sh
libtool
ltmain.sh
missing
src/.deps/*
src/dnd_charsheet
*.o
*.stamp
stamp-h1
*.c

